.tic-tac-toe__square {
	width: 90px;
	height: 90px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #333;
	border-radius: 16px;

	font-size: 2.5rem;
	font-weight: bold;
	color: #fff;

	transition: 0.2s ease;

	&:hover {
		background-color: #555;
		transform: scale(1.05);
	}

	&:active {
		background-color: #222;
		transform: scale(0.97);
	}
}