.tic-tac-toe {
	margin-top: 2rem;

	&__container {
		max-width: 500px;
		margin: 0 auto;
	}

	&__contentn {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
	}

	&__game-field {
		background-color: #222;
		padding: 1rem;
		border-radius: 20px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
	}

	&__game-row {
		display: flex;
		gap: 0.75rem;

		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}

	button {
		padding: 0.75rem 1.5rem;
		border-radius: 12px;
		background-color: #444;
		color: #fff;
		font-size: 1.1rem;
		transition: 0.2s ease;

		&:hover {
			background-color: #666;
			transform: translateY(-1px);
		}

		&:active {
			transform: translateY(0);
			background-color: #333;
		}
		&:disabled{
			background-color: lightgray;
		}
	}
}