.tic-tac-toe__square {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333;
  border-radius: 16px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.tic-tac-toe__square:hover {
  background-color: #555;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.tic-tac-toe__square:active {
  background-color: #222;
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
}